[Unit]
Description=Domoticz distants service start
After=default.target ssh.target socat.target remotedomopi.target

[Service]
Type=simple
ExecStart=/usr/bin/ssh -t -t -i $SSH_KEY_FILE $SSH_USER '/bin/bash /home/adi/git/my-scripts/domoticz/domoticz.sh'
Restart=always

[Install]
WantedBy=multi-user.target

