---
services:
  plex:
    image: plexinc/pms-docker:1.40.4.8679-424562606
    restart: unless-stopped
    container_name: plex
    env_file: /etc/default/plex
    ports:
      - "32400:32400/tcp"
      - "8324:8324/tcp"
      - "32469:32469/tcp"
      - "1900:1900/udp"
      - "32410:32410/udp"
      - "32412:32412/udp"
      - "32413:32413/udp"
      - "32414:32414/udp"
    volumes:
      - /home/plex/data/config:/config
      - /mnt/nanopi/media/Downloads:/mnt/nanopi/media/Downloads
      - /home/plex/data/transcode:/transcode
    labels:
      - "traefik.enable=true"
    networks:
    - traefik

  jellyfin-server:
    image: jellyfin/jellyfin
    container_name: jellyfin-server
    volumes:
      - /home/jellyfin/config:/config
      - /home/jellyfin/cache:/cache
      - type: bind
        source: /mnt/nanopi/media/Downloads
        target: /mnt/nanopi/media/Downloads
        read_only: true
    restart: 'unless-stopped'
    environment:
    - JELLYFIN_PublishedServerUrl=https://jellyfin-server.adi3000.com
    networks:
    - traefik

  jellyfin:
    container_name: jellyfin
    image: jellyfin/jellyfin-vue:unstable
    restart: unless-stopped
    environment:
    - DEFAULT_SERVERS=https://jellyfin-server.adi3000.com
    - DISABLE_SERVER_SELECTION=0
    volumes:
    - /etc/localtime:/etc/localtime:ro
    networks:
    - traefik

networks:
  traefik:
    name: traefik
    external: true
