---
services:
  server:
    image: ${AUTHENTIK_IMAGE:-ghcr.io/goauthentik/server}:${AUTHENTIK_TAG:-2025.10.2}
    restart: unless-stopped
    container_name: authentik
    command: server
    env_file: /etc/default/authentik
    volumes:
      - /etc/ssl/private/aiven:/etc/ssl/private/aiven
    ports:
      - "${COMPOSE_PORT_HTTP:-9000}:9000"
      - "${COMPOSE_PORT_HTTPS:-9443}:9443"
    labels:
      - "traefik.enable=true"
    networks:
    - traefik
    - postgres
    - authentik

  worker:
    image: ${AUTHENTIK_IMAGE:-ghcr.io/goauthentik/server}:${AUTHENTIK_TAG:-2025.10.2}
    restart: unless-stopped
    container_name: authentik-worker
    volumes:
      - /etc/ssl/private/aiven:/etc/ssl/private/aiven
    command: worker
    env_file: /etc/default/authentik
    networks:
    - postgres
    - authentik
  ldap:
    image: ghcr.io/goauthentik/ldap:${AUTHENTIK_TAG:-2025.10.2}
    container_name: ldap
    ports:
    - 3389:3389
    - 6636:6636
    env_file: /etc/default/authentik-ldap
    networks:
    - ldap
    - authentik
    depends_on:
    - server

  proxy:
    image: ghcr.io/goauthentik/proxy:${AUTHENTIK_TAG:-2025.10.2}
    container_name: authentik-proxy
    env_file: /etc/default/authentik
    labels:
    - "traefik.enable=true"
    networks:
    - traefik
    - authentik
    depends_on:
    - server

networks:
  traefik:
    name: traefik
    external: true
  ldap:
    name: ldap
    driver: bridge
  authentik:
    name: authentik
    driver: bridge
  postgres:
    name: postgres
    external: true
