---
services:
  immich:
    profiles: [ compute ]
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-v2}
    restart: unless-stopped
    container_name: immich
    env_file: /etc/default/immich
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
          - driver: nvidia
            count: 1
            capabilities:
              - gpu
    ports:
      - '2283:2283'
      - '22881:8081'
      - '22882:8082'
    volumes:
      - /mnt/nanopi/data/nextcloud/shared/photos/upload:/usr/src/app/upload
      - /mnt/nanopi/data/nextcloud/shared/photos/media:/mnt/nanopi/data/nextcloud/shared/photos/media
      - /etc/localtime:/etc/localtime:ro
    networks:
      - postgres
      - immich

  photos:
    profiles: [ server ]
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-v2}
    restart: unless-stopped
    container_name: photos
    env_file: /etc/default/immich
    ports:
      - '2283:2283'
    volumes:
      - /mnt/nanopi/data/nextcloud/shared/photos/upload:/usr/src/app/upload
      - /mnt/nanopi/data/nextcloud/shared/photos/media:/mnt/nanopi/data/nextcloud/shared/photos/media
      - /etc/localtime:/etc/localtime:ro
    networks:
      - traefik
      - immich
      - postgres

  immich-ml:
    profiles: [ compute ]
    container_name: immich-machine-learning
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-v2}-cuda
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
          - driver: nvidia
            count: 1
            capabilities:
              - gpu
    volumes:
      - model-cache:/cache
    env_file: /etc/default/immich
    restart: unless-stopped
    healthcheck:
      disable: false
    networks:
      - immich
      - postgres

volumes:
  model-cache:

networks:
  traefik:
    name: traefik
    external: true
  postgres:
    name: postgres
    external: true
  immich:
    name: immich
    driver: bridge
