---
services:
  joplin:
    image: joplin/server:latest
    container_name: joplin
    depends_on:
        - joplin-transcribe
    ports:
        - "22300:22300"
    env_file: /etc/default/joplin
    networks:
        - joplin
        - postgres
        - traefik
    restart: unless-stopped
    volumes:
    - /etc/joplin:/etc/joplin
  joplin-transcribe:
    restart: unless-stopped
    image: joplin/transcribe:latest
    volumes:
       - /mnt/nanopi/data/joplin/images:/app/packages/transcribe/images
    env_file: /etc/default/joplin-transcribe
    networks:
        - joplin
        - postgres

networks:
  postgres:
    name: postgres
    external: true
  traefik:
    name: traefik
    external: true
  joplin:
    name: joplin
    driver: bridge


